* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #323232;
    --cor2: #3B3B3B;
    --cor3: #202020;
    --cor4: #fff;
    --cor5: #CAD0B2;
    --cor6: #000;
    --cor7: #76B9ED;
    --cor8: #479ee0;
    --cor9: rgb(204, 1, 1);
    --cor10: rgb(153, 1, 1);
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'digital';
}

@font-face {
    font-family: 'digital';
    src: url(fonts/LCDMB___.TTF);
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(to top, var(--cor3), var(--cor2));
}

.calculator {
    background-color: var(--cor3);
    width: 100%;
    max-width: 400px;
    max-height: 900px;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1.5px solid var(--cor2);
}

h1 {
    margin: 20px;
    color: var(--cor4);
    font-family: var(--font1);
}

#display {
    font-family: var(--font2);
    background-color: var(--cor5);
    width: 90%;
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    text-align: right;
    font-size: 50px;
    color: var(--cor6);
}

.box-buttons {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 80px);
    gap: 3px;
}

button {
    border-radius: 5px;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    font-family: var(--font1);
    font-size: 24px;
}

.clear {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--cor9);
    transition: 0.5s;
}

.clear:hover {
    background-color: var(--cor10);
}


.operators {
    background-color: var(--cor1);
    transition: 0.5s;
}

.operators:hover {
    background-color: var(--cor2);
}

.numbers {
    background-color: var(--cor2);
    transition: 0.5s;
}

.numbers:hover {
    background-color: var(--cor1);
}

.result {
    background-color: var(--cor7);
    color: var(--cor6);
    transition: 0.5s;
}

.result:hover {
    background-color: var(--cor8);
}
